li {
    line-height: 24px;
    overflow-wrap: break-word;
    padding: 8px 1px;
}

p, li p {
    overflow-wrap: break-word;
    line-height: 27px !important;
    text-indent:2rem;
    margin-bottom: 5px !important;
    
}

p strong{
    overflow-wrap: break-word;
    text-indent:0rem;
}

h1, h2 {
    color: #9696f3 !important;
}