<!DOCTYPE html>
<html>
<head>
<#include "/common/head.html"/>
<link rel="stylesheet" type="text/css" href="${domain}/static/css/index.css">
<title>${title}</title>
<style>
  p.notice-menu-name{
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    letter-spacing: 2px;
    font-weight: 600;
    padding: 11px;
    background-color: #FFFFFF;
    color: #000000;
  }
</style>
</head>
<body>
    <#include "/common/top-sider-header.html"/>
    <div id="app"> 
        <top-sider-bottom>
            <Layout :style="{padding: 0}"> 
                <Content :style="{padding: '24px', minHeight: '780px', background: '#fff'}">
                    
                 </Content>
              </Layout>
          </top-sider-bottom>
    </div>
    <script type="text/javascript"> 
     new Vue({
            el: '#app',
            data: function(){
                return {
                }
            },
            methods: {
            },
            mounted : function() { //创建时
            	
            }
        });
</script>

</body>
</html>
