
<!DOCTYPE html>
<html>
<head>
<#include "/common/head.html"/>
<link rel="stylesheet" type="text/css" href="${domain}/static/css/edit.css">
<title>${title}</title>
<style>
p.notice-menu-name {
	width: 100%;
	text-align: center;
	font-size: 1.2em;
	letter-spacing: 2px;
	font-weight: 600;
	padding: 11px;
	background-color: #FFFFFF;
	color: #000000; . demo-split { height : 200px;
	border: 1px solid #dcdee2;
}
</style>
</head>
<body>
	<div id="app">
		<header class="header">
			markdown 编辑器
		</header>
		<div class="editor">
			<nav></nav>
			<div class="split">
				<Split v-model=split>
				<div slot="left" class="split-pane">Left Pane</div>
				<div slot="right" class="split-pane">Right Pane</div>
				</Split>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		new Vue({
			el : '#app',
			data : function() {
				return {
					split : 0.6
				}
			},
			methods : {

			},
			mounted : function() { //创建时

			}
		});
	</script>

</body>
</html>
