<!DOCTYPE html>
<html>
<head>
<#include "/common/head.html"/>
<link rel="stylesheet" type="text/css" href="../static/css/index.css">
<title>${title}</title>
</head>
<body>
    <#include "/common/top-sider-header.html"/>
    <div id="app"> 
        <top-sider-bottom>
            <Layout :style="{padding: '0 24px 24px'}"> 
            <!--<Breadcrumb :style="{margin: '24px 0'}">
                    <breadcrumb-item>Home</breadcrumb-item>
                    <breadcrumb-item>Components</breadcrumb-item>
                    <breadcrumb-item>Layout</breadcrumb-item>
                </Breadcrumb> -->
                <Content :style="{padding: '24px', minHeight: '780px', background: '#fff'}">
                   <Row> 
                       <i-col span="10">
                            <Tree :data="menuTree" :render="renderContent"> </Tree>
                       </i-col>
                       <i-col span="14" :style="{padding: '10px 50px'}">
                       <i-form :model="menuFormData" label-position="right" :label-width="300">
                           <form-item v-if="hasFiled('name')" label="名称（按钮名称）：">
                               <i-input v-model="menuFormData.name"></i-input>
                           </form-item>
                           <form-item v-if="hasFiled('text')" label="显示文本：">
                               <i-input v-model="menuFormData.text"></i-input>
                           </form-item>
                           <form-item v-if="hasFiled('icon')" label="图标：">
                               <i-select v-model="menuFormData.icon" filterable clearable >
                                    <i-option v-for="item in icons" :value="item" :label="item" :key="item">
                                        <Icon :type="item" style="margin-right:2rem;"></Icon>
							            {{item}}
							        </i-option>
					           </i-select>
                           </form-item>
                           <form-item v-if="hasFiled('clazz')" label="css 类名：">
                               <i-input v-model="menuFormData.clazz"></i-input>
                           </form-item> <form-item label="url 地址：">
                               <i-input v-model="menuFormData.url"></i-input>
                           </form-item>
                           <form-item v-if="hasFiled('orderNum')" label="排序值 ：" >
                               <i-input v-model="menuFormData.orderNum" :number="true"></i-input>
                           </form-item>
                           <form-item v-if="hasFiled('platform')" label="所属平台：">
                               <i-select v-model="menuFormData.platform" >
							        <i-option v-for="platform in platformSelects" :value="platform.name" :label="platform.name" :key="platform.code">
							            <span>{{platform.name}}</span>
							            <span style="float:right;color:#ccc">-- {{platform.description}}</span>
							        </i-option>
							    </i-select>
                           </form-item>
                           <form-item v-if="hasFiled('topref')" label="所属顶级按钮（二级按钮专用）：">
                                <i-select v-model="menuFormData.topref" >
                                    <i-option v-for="topMenu in topMenus" v-if="topMenu.name!='logout'" :value="topMenu.name" :label="topMenu.name" :key="topMenu.id">
                                        <span>{{topMenu.name}}</span>
                                        <span style="float:right;color:#ccc">-- {{topMenu.text}}</span>
                                    </i-option>
                                </i-select>
                           </form-item>
                           <form-item v-if="hasFiled('type')" label="类型（WeChat专用） ：">
                               <i-input v-model="menuFormData.type"></i-input>
                           </form-item>
                           <form-item v-if="hasFiled('mediaId')" label="媒体Id（WeChat专用） ：">
                               <i-input v-model="menuFormData.mediaId"></i-input>
                           </form-item>
                           <form-item v-if="hasFiled('appid')" label="小程序Id（WeChat专用） ：">
                                 <i-input v-model="menuFormData.appid"></i-input>
                           </form-item>
                           <form-item v-if="hasFiled('pagepath')" label="页面路径（WeChat专用） ：">
                               <i-input v-model="menuFormData.pagepath"></i-input>
                           </form-item>
                            <form-item>
					            <i-button type="primary" style="float:right;" @click="submitMenuData">提交</i-button>
					        </form-item>
                         </i-form>
                       </i-col>
                    </Row>
                 </Content>
              </Layout>
          </top-sider-bottom>
    </div>
    <script type="text/javascript">
     new Vue({
            el: '#app',
            data: function(){
                return {
                	editMenus: ${editMenus},
                    menuPlatform: '${menuPlatform}',
                    fileds: '${effectiveFileds}',
                    platformSelects: ${platforms},
                    topMenus: ${topMenus},
                    icons: [],
                    menuFormData: {
                        name: "",
                        text: "",
                        icon: "",
                        clazz: "",
                        url: "",
                        parent: "",
                        orderNum: 0,
                        type: "",
                        mediaId: "",
                        appid: "",
                        pagepath: "",
                        platform: "",
                        topref: ""
                    },
                    treeData: {},
                    menuTree: [
                        {
                            title: '${treeRoot}',
                            expand: true,
                            render: (h, { root, node, data }) => {    //根节点渲染器
                            	this.treeData = data;
                                return h('span', {
                                    style: {display: 'inline-block',width: '100%'}
                                },[
                                    h('span', [
                                        h('Icon', {
                                            props: {
                                                type: 'ios-keypad'
                                            },
                                            style: {
                                                marginRight: '8px'
                                            }
                                        }),
                                        h('span', data.title)
                                    ]),
                                    h('span', {
                                        style: {
                                            display: 'inline-block',
                                            float: 'right',
                                            marginRight: '32px'
                                        }
                                    }, [
                                        h('Button', {
                                            props: Object.assign({}, this.buttonProps, {
                                                icon: 'ios-add',
                                                type: 'primary'
                                            }),
                                            style: {
                                                width: '64px',
                                            },
                                            on: {
                                                click: () => { this.append(data) }
                                            }
                                        })
                                    ])
                                ]);
                            },
                            children: []
                        }
                    ],
                    buttonProps: {
                        type: 'default',
                        size: 'small',
                    }
                }
            },
            methods: {
            	submitMenuData:function(){   //提交按钮数据
            		
            	},
            	append: function(data) {
                    console.log(data)
                    const children = data.children || [];
                    children.push({
                        title: 'appended node',
                        expand: true
                    });
                    this.$set(data, 'children', children);
                },
                remove: function(root, node, data) {
                    const parentKey = root.find(el => el === node).parent;
                    const parent = root.find(el => el.nodeKey === parentKey).node;
                    const index = parent.children.indexOf(data);
                    parent.children.splice(index, 1);
                },
                editMenu: function(root, node, data){
                    const ref = node.node.ref;
                    let edits = this.editMenus;
                    let refMenu = null ;
                    if(edits && edits.length){
                    	for(let i=0,len=edits.length;i<len&&!refMenu;i++){
                    		let menu = edits[i];
                    		if(!menu) continue;
                    		if(menu.subMenus&&menu.subMenus.length){
                                for(let i=0,len=menu.subMenus.length;i<len&&!refMenu;i++){
                                    let sub = menu.subMenus[i];
                                    if(!sub) continue;
                                    if(ref == sub.id)  refMenu = sub;
                                }
                            }
                    		if(ref == menu.id)  refMenu = menu;
                    	}
                    }
                    console.log(refMenu);
                    console.log(this.menuFormData);
                    Object.assign(this.menuFormData,refMenu);
                    
                },
                hasFiled: function(filed){   //屏蔽某些字段
                	return this.fileds.indexOf(filed)!=-1;
                },
                renderContent: function(h, { root, node, data }) {   //树结构子元素渲染器
                    return h('span', {
                        style: {
                            display: 'inline-block',
                            width: '100%'
                        }
                    }, [
                        h('span', [
                            h('Icon', {
                                props: {
                                    type: 'ios-menu'
                                },
                                style: {
                                    marginRight: '8px'
                                }
                            }),
                            h('span', data.title)
                        ]),
                        h('span', {
                            style: {
                                display: 'inline-block',
                                float: 'right',
                                marginRight: '32px'
                            }
                        }, [
                        	h('Button', {
                                props: Object.assign({}, this.buttonProps, {
                                    icon: 'ios-build'
                                }),
                                style: {
                                    marginRight: '8px'
                                },
                                on: {
                                    click: () => { this.editMenu(root, node, data) }
                                }
                            }),
                            h('Button', {
                                props: Object.assign({}, this.buttonProps, {
                                    icon: 'ios-add'
                                }),
                                style: {
                                    marginRight: '8px'
                                },
                                on: {
                                    click: () => { this.append(data) }
                                }
                            }),
                            h('Button', {
                                props: Object.assign({}, this.buttonProps, {
                                    icon: 'ios-remove'
                                }),
                                on: {
                                    click: () => { this.remove(root, node, data) }
                                }
                            })
                        ])
                    ]);
                },
            },
            mounted : function() { //创建时
            	let that = this;
                //延时渲染下拉列表防止页面白屏
            	setTimeout(function(){
            		that.icons = iview_icons;   //图标下拉列表
            	}, 1000);
                //初始化待编辑菜单
                const children = this.treeData.children || [];
                let edits = this.editMenus;
                if(edits && edits.length){
                    for(let i=0,len=edits.length;i<len;i++){
                        let menu = edits[i];
                        let subs = [];
                        if(menu.subMenus&&menu.subMenus.length){
                            for(let i=0,len=menu.subMenus.length;i<len;i++){
                                let sub = menu.subMenus[i];
                               subs.push({
                                   title: sub.text,
                                   expand: true,
                                   ref: sub.id
                               });
                            }
                        }
                        children.push({
                            title: menu.text,
                            expand: true,
                            ref: menu.id,
                            children: subs
                        });
                    }
                }
                this.$set(this.treeData, 'children', children);
            }
        })
</script>

</body>
</html>
