<!DOCTYPE html>
<html>
<head>
<#include "/common/head.html"/>
<link rel="stylesheet" type="text/css" href="../static/css/index.css">
<title>${title}</title>
</head>
<body>
	<div id="app">
		<Modal v-model="isShow" :width="width" :ok-text="okText" :closable="false" :mask-closable="false" :scrollable="false">
			 <p slot="header" style="color:#f60;text-align:center">
            <Icon type="information-circled"></Icon>
            <span>Delete confirmation</span>
	        </p>
	        <div style="text-align:center">
	            <p>After this task is deleted, the downstream 10 tasks will not be implemented.</p>
	            <p>Will you delete it?</p>
	        </div>
	        <div slot="footer">
	            <i-button type=primary size="large" long :loading="modal_loading" @click="login">{{okText}}</i-button>
	        </div>
		</Modal>
	</div>
	<script type="text/javascript">
		new Vue({
			el : '#app',
			data : {
                isShow: false,
                okText: "登录",
                width: 360,
                modal_loading: false
            },
			created : function() { //创建时
				// `this` 指向 vm 实例
				console.log('a is: ' + this)
				this.isShow = true;
			},
            methods: {
                login: function(){
                	console.log("登录 。。。 ");
                }
            }

		})
	</script>
</body>
</html>